# VSCode 設定
.vscode/

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.log

# 虛擬環境
.venv/
venv/

# 資料與大型檔案
*.zip
*.rar
*.7z
*.pickle
*.h5
*.pt
*.pth

# JSON 與 QA Data
huatuo_medical_qa_sharegpt_traditional.json
huatuo_medical_qa_sharegpt.json
medical_dialogue_traditional.json

# Hyperledger Fabric 憑證與私鑰
fabric-ca-server.db
fabric-ca-server-config.yaml
fabric-ca-client-config.yaml
IssuerPublicKey
IssuerSecretKey
IssuerRevocationPublicKey
IssuerRevocationPrivateKey
*_sk
*.pem
*.crt
*.key
server.crt

# Node.js 前端相關
node_modules/
frontend/node_modules/
testFrontend/node_modules/
dist/
build/

# 資料庫與 cache
*.db
chroma_db/*

# Mac 和 Windows 系統檔案
.DS_Store
Thumbs.db
